## .inputrc determines the workings of the readline method in bash.
## See bash's man page on READLINE for more information.

# Ignore case in tab-completion
set completion-ignore-case on

# Don't make me press tab twice for completion
set show-all-if-ambiguous on
set show-all-if-unmodified on

# Show me what kind of file is being suggested in completion
set visible-stats on

# Allow me to cycle through suggested completions
Control-j: menu-complete
